/* body{
  text-align:center;
  font-family: sans-serif;
}
.top-container{
  padding-top:120px;
  position:relative;
  background-color: #daf6f3;
}
#name{

  margin:0px auto 0px auto;
  font-size: 90px;
  position: relative;
  top: 10px;
  font-family: 'Lobster', cursive;
  letter-spacing: 3px;



}
#who{
  font-size:20px;
  position: relative;
  top: 50px;
  color: #aeabac;
}
.cloud{
  position:absolute;
  width:175px;
}
#cloud1{
  top:20px;
  right:250px;
}
#cloud2{
  left: 250px;
  top:350px;
  margin-bottom:100px;
}
#mountain{
  margin-top:100px;
} */


body{
  text-align: center;
  margin:0px;
  background-color: whitesmoke;
  color:#40514E;

}
.top-container{
  background-color: #daf6f3;
  padding-top:130px;
  position: relative;
}
.cloud{
  position: absolute;
  width:200px;
}
#cloud-1{
  top:50px;
  right:350px;
}
#cloud-2{
  bottom:280px;
  left: 350px;
}
#name{
  font-family: 'Lobster', cursive;
  font-size: 5rem;
  width: 200px;
  margin: 0px auto 0px auto;
  letter-spacing: 2px;
  color: #66BFBF;
}
h2,h4,h3,a{
  color:#11999E;
}

#who{
  font-family: cursive;
  color:grey;
  font-size: 1.8rem;
  padding-left:50px;
  letter-spacing: 4px;
  margin-top: 40px;
  word-spacing: 10px;
  color: #66BFBF;
  font-weight: normal;
}
.skill-row{
  width:50%;
  margin:50px auto 50px auto;
  text-align: left;
  line-height: 1.7em;
}
#flower{
  width:25%;
  float: left;
  margin-top:30px;
  position: relative;
  right:  30px;
  margin-bottom: 30px;
  top:20px;
}
#chillies{
  width:25%;
  float: right;
  position: relative;
  top:20px;
  left: 30px;
  margin-top:20px;
  margin-bottom: 30px;
}
.para{
  margin:0px auto 50px auto;
  width:600px;
  line-height: 1.7em;
  word-spacing: 5px;
}
#photo{
  padding-top:50px;
  padding-bottom:30px;
}
#hello{
  margin-bottom:25px;
}
.hr{
  border:none;
  border-top:6px dotted #3a3b3d;
  width:55px;
  margin-bottom:50px;
}
#last{
  margin-bottom: 70px;
}
#git{
  margin-bottom:50px;
}
#lorem{
  margin-bottom:30px;
  word-spacing: 5px;
}
#contact {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 16px;
   line-height: 16px;
   color: #272728;
   font-family: Arial;
   width: 157px;
   font-size: 25px;
   font-weight: 600;
   padding: 31px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 100px;
}

#contact:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.footer{
  background-color: #66BFBF;
  height: 200px;
  padding-top:45px;
}
.web{
  display: inline-block;
  margin-right:30px;
  margin-left:30px;
  margin-top:20px;
  margin-bottom:20px;
  color:#11999E;
  text-decoration:none;
  font-family: sans-serif;
}
p{
  font-family: 'Noto Sans', sans-serif;
}
